$main-color: rgb(25, 54, 87);
$second-color: rgb(110, 14, 30);
$bgc-color: #f6f7fb;
$hover-color: rgb(33, 81, 139);
$nav-color: rgb(63, 62, 62);
$effect-color: rgb(240, 240, 240);
$shadow-color: rgba(0, 0, 0, 0.2);
$border-color: #c9cee6;






